Repository arsenalamerica/source: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --list-different, eslint --fix

.lintstagedrc.json:

{
  "*.{css,scss,sass,less}": ["stylelint --fix", "prettier --list-different"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --list-different"],
  "*.{md,mdx,html}": ["prettier --list-different"]
}

chore: move repository
  .yarn/install-state.gz
  README.md
  package.json
  yarn.lock
Due: prettier --list-different

feat: add vancouverarsenal
  .gitignore
  apps/vancouverarsenal-e2e/.eslintrc.json
  apps/vancouverarsenal-e2e/cypress.config.ts
  apps/vancouverarsenal-e2e/project.json
  apps/vancouverarsenal-e2e/src/e2e/app.cy.ts
  apps/vancouverarsenal-e2e/src/fixtures/example.json
  apps/vancouverarsenal-e2e/src/support/app.po.ts
  apps/vancouverarsenal-e2e/src/support/commands.ts
  apps/vancouverarsenal-e2e/src/support/e2e.ts
  apps/vancouverarsenal-e2e/tsconfig.json
  apps/vancouverarsenal/.eslintrc.json
  apps/vancouverarsenal/app/api/hello/route.ts
  apps/vancouverarsenal/app/global.scss
  apps/vancouverarsenal/app/layout.tsx
  apps/vancouverarsenal/app/page.module.scss
  apps/vancouverarsenal/app/page.tsx
  apps/vancouverarsenal/data.json
  apps/vancouverarsenal/index.d.ts
  apps/vancouverarsenal/jest.config.ts
  apps/vancouverarsenal/next-env.d.ts
  apps/vancouverarsenal/next.config.js
  apps/vancouverarsenal/project.json
  apps/vancouverarsenal/public/.gitkeep
  apps/vancouverarsenal/public/favicon.ico
  apps/vancouverarsenal/tsconfig.json
  apps/vancouverarsenal/tsconfig.spec.json
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: clean crap typescript
  .yarn/install-state.gz
  apps/tacomagooners/app/api/fixtures/route.ts
  apps/tacomagooners/app/fixture/[slug]/page.tsx
  apps/tacomagooners/app/fixtures/page.tsx
  apps/tacomagooners/old-pages/api/twitter/route.js
  apps/tacomagooners/tsconfig.json
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/components/src/lib/FixtureCard/FixtureCardTeam.tsx
  libs/components/src/lib/FixtureCard/FixtureCardWeather.tsx
  libs/components/src/lib/Main/Main.tsx
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

install
  .yarn/install-state.gz
Due: none

chore: fix ts
  .yarn/install-state.gz
  apps/tacomagooners/app/api/fixtures/route.ts
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: update next configs
  apps/cascadiagooners/next.config.js
  apps/pdxgooners/next.config.js
  apps/tacomagooners/next.config.js
  apps/vancouverarsenal/next.config.js
  libs/hooks/.babelrc
  libs/hooks/jest.config.ts
  nx.json
Due: prettier --list-different, eslint --fix

fix: data.json location
  apps/tacomagooners/app/layout.tsx
Due: prettier --list-different, eslint --fix

feat: Next Game on landing page
  apps/cascadiagooners/app/api/fixtures/route.ts
  apps/cascadiagooners/app/api/hello/route.ts
  apps/cascadiagooners/app/page.tsx
  apps/cascadiagooners/assets/data.json
  apps/pdxgooners/app/api/fixtures/route.ts
  apps/pdxgooners/app/api/hello/route.ts
  apps/pdxgooners/app/page.tsx
  apps/vancouverarsenal/app/api/fixtures/route.ts
  apps/vancouverarsenal/app/api/hello/route.ts
  apps/vancouverarsenal/app/page.tsx
  libs/components/src/index.ts
  libs/components/src/lib/Main/Main.tsx
  libs/components/src/lib/Main/SWRProvider.tsx
  libs/components/src/lib/NextGame/NextGame.module.scss
  libs/components/src/lib/NextGame/NextGame.spec.tsx
  libs/components/src/lib/NextGame/NextGame.tsx
  libs/utils/jest.config.ts
  libs/utils/jest.setup.ts
  libs/utils/src/index.ts
  libs/utils/src/lib/data.ts
  libs/utils/src/lib/dates.ts
  libs/utils/src/lib/season.ts
  package.json
  yarn.lock
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: update libs
  package.json
  yarn.lock
Due: none

fix: no access to find until data
  libs/components/src/lib/NextGame/NextGame.tsx
Due: prettier --list-different, eslint --fix

fix: handling for no data
  libs/components/src/lib/NextGame/NextGame.tsx
Due: prettier --list-different, eslint --fix

chore: set up nx-remote
  .gitignore
  .yarnrc.yml
  nx.json
  package.json
  yarn.lock
Due: none

chore: go back to DTE
  nx.json
Due: none

chore: remove favicons
  apps/cascadiagooners/public/.gitignore
  apps/cascadiagooners/public/.gitkeep
  apps/cascadiagooners/public/favicon.ico
  apps/pdxgooners/public/.gitignore
  apps/pdxgooners/public/.gitkeep
  apps/pdxgooners/public/favicon.ico
  apps/tacomagooners/app/favicon.ico
  apps/tacomagooners/public/.gitignore
  apps/vancouverarsenal/public/.gitignore
  apps/vancouverarsenal/public/.gitkeep
  apps/vancouverarsenal/public/favicon.ico
Due: none

feat: favicons
  .eslintrc.json
  .vscode/settings.json
  .yarnrc.yml
  apps/cascadiagooners/project.json
  apps/pdxgooners/project.json
  apps/tacomagooners/assets/logo.svg
  apps/tacomagooners/project.json
  apps/vancouverarsenal/project.json
  libs/nx-next-icons/.eslintrc.json
  libs/nx-next-icons/.swcrc
  libs/nx-next-icons/README.md
  libs/nx-next-icons/executors.json
  libs/nx-next-icons/jest.config.ts
  libs/nx-next-icons/package.json
  libs/nx-next-icons/project.json
  libs/nx-next-icons/src/executors/favicons/executor.spec.ts
  libs/nx-next-icons/src/executors/favicons/executor.ts
  libs/nx-next-icons/src/executors/favicons/schema.d.ts
  libs/nx-next-icons/src/executors/favicons/schema.json
  libs/nx-next-icons/src/executors/svg2png/executor.spec.disabled
  libs/nx-next-icons/src/executors/svg2png/executor.ts
  libs/nx-next-icons/src/executors/svg2png/schema.d.ts
  libs/nx-next-icons/src/executors/svg2png/schema.json
  libs/nx-next-icons/src/index.ts
  libs/nx-next-icons/src/test-files/favicon.ico
  libs/nx-next-icons/src/test-files/logo.svg
  libs/nx-next-icons/tsconfig.json
  libs/nx-next-icons/tsconfig.lib.json
  libs/nx-next-icons/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: generate icons
  apps/cascadiagooners/public/.gitignore
  apps/cascadiagooners/public/.gitkeep
  apps/cascadiagooners/public/favicon.ico
  apps/pdxgooners/public/.gitignore
  apps/pdxgooners/public/.gitkeep
  apps/pdxgooners/public/favicon.ico
  apps/tacomagooners/public/.gitignore
  apps/tacomagooners/public/favicon.ico
  apps/vancouverarsenal/public/.gitignore
  apps/vancouverarsenal/public/.gitkeep
  apps/vancouverarsenal/public/favicon.ico
  nx.json
Due: none

feat: add separate api
  .gitignore
  apps/api/.eslintrc.json
  apps/api/app/fixtures/route.ts
  apps/api/app/layout.tsx
  apps/api/app/not-found.tsx
  apps/api/index.d.ts
  apps/api/jest.config.ts
  apps/api/next-env.d.ts
  apps/api/next.config.js
  apps/api/project.json
  apps/api/public/.gitkeep
  apps/api/tsconfig.json
  apps/api/tsconfig.spec.json
  libs/nx-next-icons/tsconfig.lib.json
  package.json
Due: prettier --list-different, eslint --fix

feat: improve 404 for api
  apps/api/app/404.jpeg
  apps/api/app/global.scss
  apps/api/app/layout.tsx
  apps/api/app/not-found.tsx
  apps/api/next.config.js
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: move all API calls out to new subdomain
  apps/api/app/fixtures/route.ts
  apps/api/project.json
  apps/cascadiagooners/app/api/fixtures/route.ts
  apps/cascadiagooners/project.json
  apps/pdxgooners/app/api/fixtures/route.ts
  apps/pdxgooners/project.json
  apps/tacomagooners/project.json
  apps/vancouverarsenal/app/api/fixtures/route.ts
  apps/vancouverarsenal/project.json
  libs/components/src/lib/Main/SWRProvider.tsx
  libs/components/src/lib/NextGame/NextGame.tsx
Due: prettier --list-different, eslint --fix

fix: get CORS headers singular
  apps/api/app/fixtures/route.ts
  apps/api/middleware.ts
  package.json
Due: prettier --list-different, eslint --fix

fix: vercel-remote runner
  nx.json
Due: none

fix: add the non-cloud runner for Vercel
  nx.json
Due: none

feat: test multi-tenant
  apps/branches-e2e/.eslintrc.json
  apps/branches-e2e/cypress.config.ts
  apps/branches-e2e/project.json
  apps/branches-e2e/src/e2e/app.cy.ts
  apps/branches-e2e/src/fixtures/example.json
  apps/branches-e2e/src/support/app.po.ts
  apps/branches-e2e/src/support/commands.ts
  apps/branches-e2e/src/support/e2e.ts
  apps/branches-e2e/tsconfig.json
  apps/branches/.eslintrc.json
  apps/branches/app/[domain]/page.tsx
  apps/branches/app/api/hello/route.ts
  apps/branches/app/layout.tsx
  apps/branches/app/site/page.tsx
  apps/branches/index.d.ts
  apps/branches/jest.config.ts
  apps/branches/middleware.ts
  apps/branches/next-env.d.ts
  apps/branches/next.config.js
  apps/branches/project.json
  apps/branches/public/.gitkeep
  apps/branches/public/favicon.ico
  apps/branches/tsconfig.json
  apps/branches/tsconfig.spec.json
  nx.json
Due: prettier --list-different, eslint --fix

fix: single default export
  apps/branches/app/[domain]/page.tsx
  apps/branches/app/site/page.tsx
Due: prettier --list-different, eslint --fix

test: update middleware
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

stylelint
  apps/branches/project.json
Due: none

feat: add sub path test
  apps/branches/app/404.jpeg
  apps/branches/app/404.scss
  apps/branches/app/[domain]/cool/page.tsx
  apps/branches/app/not-found.tsx
  apps/branches/middleware.ts
Due: stylelint --fix, prettier --list-different, eslint --fix

feat: multi-tenant sites
  apps/api/middleware.ts
  apps/branches/app/[domain]/cool/page.tsx
  apps/branches/app/[domain]/global.scss
  apps/branches/app/[domain]/layout.tsx
  apps/branches/app/[domain]/page.tsx
  apps/branches/app/site/page.tsx
  apps/branches/middleware.ts
  apps/branches/next.config.js
  apps/branches/project.json
  data/.eslintrc.json
  data/README.md
  data/index.d.ts
  data/project.json
  data/src/branches/branchObject.ts
  data/src/branches/cascadiagooners/data.json
  data/src/branches/cascadiagooners/index.ts
  data/src/branches/cascadiagooners/logo.svg
  data/src/branches/index.ts
  data/src/branches/pdxgooners/data.json
  data/src/branches/pdxgooners/index.ts
  data/src/branches/pdxgooners/logo.svg
  data/src/branches/tacomagooners/data.json
  data/src/branches/tacomagooners/index.ts
  data/src/branches/tacomagooners/logo.svg
  data/src/branches/vancouverarsenal/data.json
  data/src/branches/vancouverarsenal/index.ts
  data/src/branches/vancouverarsenal/logo.svg
  data/src/index.ts
  data/tsconfig.json
  data/tsconfig.lib.json
  libs/components/src/lib/Main/Main.module.scss
  tsconfig.base.json
Due: stylelint --fix, prettier --list-different, eslint --fix

fix: no more test subdomains
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

feat: update GameCard
  apps/branches/app/[domain]/game-card/page.tsx
  apps/branches/app/[domain]/layout.tsx
  apps/branches/app/[domain]/page.tsx
  data/src/branches/branchObject.ts
  data/src/index.ts
  libs/components/src/index.ts
  libs/components/src/lib/BranchContext/BranchContext.spec.tsx
  libs/components/src/lib/BranchContext/BranchContext.tsx
  libs/components/src/lib/GameCard/GameCard.tsx
  libs/components/src/lib/Main/index.ts
  libs/components/src/lib/NextGame/NextGame.tsx
Due: prettier --list-different, eslint --fix

fix: Add ability to test preview deployments
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

fix: make first domain default on preview deploys
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

chore: move game-card
  apps/branches/app/[domain]/global.scss
  apps/branches/app/[domain]/layout.tsx
  apps/branches/app/[domain]/page.tsx
  apps/branches/app/api/hello/route.ts
  apps/branches/app/layout.tsx
  apps/branches/fonts/ars-bold.woff
  apps/branches/fonts/ars-bold.woff2
  apps/branches/fonts/ars-reg.woff
  apps/branches/fonts/ars-reg.woff2
  data/src/branches/branchObject.ts
  data/src/branches/index.ts
  data/src/branches/types.ts
  data/src/index.ts
  libs/components/src/lib/BranchContext/BranchContext.tsx
  libs/components/src/lib/GameCard/GameCard.module.scss
  libs/components/src/lib/GameCard/GameCard.tsx
  libs/components/src/lib/NextGame/NextGame.module.scss
  libs/components/src/lib/NextGame/NextGame.tsx
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: remove separate app
  apps/tacomagooners/.eslintrc.json
  apps/tacomagooners/app/api/fixtures/route.ts
  apps/tacomagooners/app/apple-icon.png
  apps/tacomagooners/app/fixture/[slug]/page.tsx
  apps/tacomagooners/app/fixtures/page.tsx
  apps/tacomagooners/app/game-card/page.tsx
  apps/tacomagooners/app/global.scss
  apps/tacomagooners/app/layout.tsx
  apps/tacomagooners/app/not-found.tsx
  apps/tacomagooners/app/page.module.scss
  apps/tacomagooners/app/page.tsx
  apps/tacomagooners/assets/data.json
  apps/tacomagooners/assets/logo.svg
  apps/tacomagooners/index.d.ts
  apps/tacomagooners/jest.config.ts
  apps/tacomagooners/next-env.d.ts
  apps/tacomagooners/next.config.js
  apps/tacomagooners/old-pages/_app.tsx
  apps/tacomagooners/old-pages/_document.tsx
  apps/tacomagooners/old-pages/api/twitter/route.js
  apps/tacomagooners/old-pages/test.json
  apps/tacomagooners/project.json
  apps/tacomagooners/public/android-chrome-192x192.png
  apps/tacomagooners/public/android-chrome-512x512.png
  apps/tacomagooners/public/browserconfig.xml
  apps/tacomagooners/public/favicon-16x16.png
  apps/tacomagooners/public/favicon-32x32.png
  apps/tacomagooners/public/favicon.ico
  apps/tacomagooners/public/fonts/ars-bold.woff
  apps/tacomagooners/public/fonts/ars-bold.woff2
  apps/tacomagooners/public/fonts/ars-reg.woff
  apps/tacomagooners/public/fonts/ars-reg.woff2
  apps/tacomagooners/public/mstile-150x150.png
  apps/tacomagooners/public/robots.txt
  apps/tacomagooners/public/safari-pinned-tab.svg
  apps/tacomagooners/public/site.webmanifest
  apps/tacomagooners/public/tacomaGooners.svg
  apps/tacomagooners/tsconfig.json
  apps/tacomagooners/tsconfig.spec.json
Due: stylelint --fix, prettier --list-different, eslint --fix

feat: Add Boise
  .vscode/settings.json
  apps/api/app/fixtures/next/route.ts
  data/src/branches/boisegooners/data.json
  data/src/branches/boisegooners/index.ts
  data/src/branches/boisegooners/logo.svg
  data/src/branches/index.ts
  libs/components/src/lib/NextGame/NextGame.spec.tsx
  libs/components/src/lib/NextGame/NextGame.tsx
  libs/components/src/lib/NextGame/NextGameComponent.tsx
  libs/components/src/lib/NextGame/NextGameError.tsx
  libs/components/src/lib/NextGame/NextGameLoading.tsx
  package.json
Due: prettier --list-different, eslint --fix

feat: Make api access come from data
  apps/api/middleware.ts
Due: prettier --list-different, eslint --fix

Remove unused component
  libs/components/src/lib/SocialBar/SocialBar.module.scss
  libs/components/src/lib/SocialBar/SocialBar.tsx
  libs/components/src/lib/SocialBar/index.ts
Due: stylelint --fix, prettier --list-different, eslint --fix
