Repository arsenalamerica/source: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

Prepare use of game data
  next.config.js
  package.json
  src/components/GameCard/GameCard.module.scss
  src/components/GameCard/GameCard.tsx
  src/components/GameCard/Team.tsx
  src/components/GameCard/index.ts
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
  src/components/index.ts
  src/pages/Main.module.scss
  src/pages/_app.tsx
  src/pages/api/hello.js
  src/pages/game-card.tsx
  src/pages/index.tsx
  src/pages/test.json
  src/types/LeagueData.ts
  src/types/RoundData.ts
  src/types/StageData.ts
  src/types/TVStationData.ts
  src/types/TeamData.ts
  src/types/Time.ts
  src/types/VenueData.ts
  tsconfig.json
  yarn.lock
Due: stylelint --fix, prettier --write, eslint --fix

fix type
  src/types/Time.ts
Due: prettier --write, eslint --fix

Update latest deps
  package.json
  src/pages/test.json
  yarn.lock
Due: none

Game card working for next game
  package.json
  public/fonts/ars-bold.woff
  public/fonts/ars-bold.woff2
  public/fonts/ars-reg.woff
  public/fonts/ars-reg.woff2
  src/components/GameCard/GameCard.module.scss
  src/components/GameCard/GameCard.tsx
  src/components/GameCard/Team.tsx
  src/pages/_app.scss
  src/pages/game-card.tsx
  yarn.lock
Due: stylelint --fix, prettier --write, eslint --fix

Card design update
  src/components/GameCard/GameCard.module.scss
  src/components/GameCard/GameCard.tsx
  src/pages/game-card.tsx
Due: stylelint --fix, prettier --write, eslint --fix

More game card updates
  src/components/GameCard/GameCard.module.scss
  src/components/GameCard/GameCard.tsx
  src/components/GameCard/bg.svg
Due: stylelint --fix, prettier --write, eslint --fix

Make gamecard relative to viewport width
  src/components/GameCard/GameCard.module.scss
  src/pages/game-card.tsx
Due: stylelint --fix, prettier --write, eslint --fix

Progress on fixtures list
  .vscode/settings.json
  src/components/FixtureCard/FixtureCard.module.scss
  src/components/FixtureCard/FixtureCard.tsx
  src/components/FixtureCard/FixtureCardTeam.tsx
  src/components/FixtureCard/FixtureCardWeather.tsx
  src/components/FixtureCard/index.ts
  src/components/index.ts
  src/pages/fixture/[id].tsx
  src/pages/fixtures.tsx
Due: stylelint --fix, prettier --write, eslint --fix

Fix detail route
  src/pages/fixture/[id].tsx
  src/pages/fixtures.tsx
Due: prettier --write, eslint --fix

fixture title
  src/pages/fixture/[id].tsx
Due: prettier --write, eslint --fix

Filter string
  src/components/GameCard/GameCard.tsx
  src/pages/game-card.tsx
  src/utils/index.ts
  src/utils/shite.ts
Due: prettier --write, eslint --fix

Filter string
  README.md
Due: prettier --write

Connect to cloud
  .yarn/install-state.gz
  .yarnrc.yml
  nx.json
Due: none

chore: update state
  .yarn/install-state.gz
Due: none

resolve yarn warnings/errors
  .yarn/cache/process-npm-0.11.10-aeb3b641ae-bfcce49814.zip
  .yarn/cache/react-textfit-npm-1.1.1-78c1efecd6-938d0530ab.zip
  .yarn/install-state.gz
  .yarnrc.yml
  apps/tacomagooners/components/GameCard/GameCard.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

new game card
  .stylelint/config.js
  .yarn/cache/process-npm-0.11.10-aeb3b641ae-bfcce49814.zip
  .yarn/cache/react-textfit-npm-1.1.1-78c1efecd6-938d0530ab.zip
  .yarn/install-state.gz
  .yarnrc.yml
  apps/tacomagooners/components/GameCard/GameCard.module.scss
  apps/tacomagooners/components/GameCard/GameCard.tsx
  package.json
  yarn.lock
Due: stylelint --fix, prettier --write, eslint --fix

lint updates
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .yarn/cache/@types-glob-npm-7.2.0-772334bf9a-6ae717fedf.zip
  .yarn/cache/@types-minimatch-npm-5.1.2-aab9c394d3-0391a28286.zip
  .yarn/cache/detect-indent-npm-6.1.0-d8c441ff7a-ab953a73c7.zip
  .yarn/cache/diff-match-patch-npm-1.0.5-f715ad1381-841522d01b.zip
  .yarn/cache/disparity-npm-3.2.0-edd329e34d-e8e14333ca.zip
  .yarn/cache/eslint-plugin-json-format-npm-2.0.1-81d1761041-d9dfa96114.zip
  .yarn/cache/eslint-plugin-package-json-npm-0.1.4-f6a3b7efcf-c4526a62f1.zip
  .yarn/cache/git-hooks-list-npm-1.0.3-6264e08e82-a1dd03d39c.zip
  .yarn/cache/globby-npm-10.0.0-cb35d8adf9-fbff58d2fc.zip
  .yarn/cache/is-plain-obj-npm-2.1.0-8dffd7ae9c-cec9100678.zip
  .yarn/cache/isarray-npm-1.0.0-db4f547720-f032df8e02.zip
  .yarn/cache/isobject-npm-2.1.0-2798cf0d94-811c6f5a86.zip
  .yarn/cache/json-fixer-npm-1.6.15-ae75b6da33-ae805d5155.zip
  .yarn/cache/line-column-npm-1.0.2-bdeb1193f9-7b71b3aaeb.zip
  .yarn/cache/minimist-npm-0.0.10-df9c22163e-f7b2cb17af.zip
  .yarn/cache/optimist-npm-0.6.1-b1b5ef4c06-191ab2b119.zip
  .yarn/cache/package-json-validator-npm-0.6.3-caa58e394b-43ca92cbf8.zip
  .yarn/cache/pegjs-npm-0.10.0-a48104cf8e-65d184ca0e.zip
  .yarn/cache/sort-object-keys-npm-1.1.3-314a377026-abea944d67.zip
  .yarn/cache/sort-package-json-npm-1.57.0-e9381da2ff-15758ba6b1.zip
  .yarn/cache/wordwrap-npm-0.0.3-ab90803074-dfc2d3512e.zip
  .yarn/install-state.gz
  apps/tacomagooners/components/FixtureCard/FixtureCard.tsx
  apps/tacomagooners/components/GameCard/Team.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

write
  .lintstagedrc.json
Due: none

Update lockfile
  .yarn/cache/disparity-npm-3.2.0-edd329e34d-e8e14333ca.zip
  .yarn/cache/eslint-plugin-package-json-npm-0.1.4-f6a3b7efcf-c4526a62f1.zip
  .yarn/cache/minimist-npm-0.0.10-df9c22163e-f7b2cb17af.zip
  .yarn/cache/optimist-npm-0.6.1-b1b5ef4c06-191ab2b119.zip
  .yarn/cache/package-json-validator-npm-0.6.3-caa58e394b-43ca92cbf8.zip
  .yarn/cache/wordwrap-npm-0.0.3-ab90803074-dfc2d3512e.zip
  .yarn/install-state.gz
  yarn.lock
Due: none

fix yarn
  .yarn/install-state.gz
Due: none

chore: reuse dependabot-pr-review
  .github/workflows/autoupdate.yml
  .github/workflows/dependabot-pr-review.yml
Due: none

chore: remove codeQL
  .github/workflows/codeql-analysis.yml
Due: none

chore: update setup-node
  .github/workflows/nx-agents.yml
  .github/workflows/nx-build.yml
  .node-version
Due: none

chore: add CI badge
  README.md
Due: prettier --write

Extend build for separate job steps
  .github/workflows/nx-build.yml
Due: none

chore: update latest actions
  .github/workflows/nx-agents.yml
  .github/workflows/nx-build.yml
Due: none

chore: update CI with targets
  .github/workflows/ci.yml
  .github/workflows/nx-agents.yml
  .github/workflows/nx-build.yml
  .github/workflows/nx-targets.yml
Due: none

chore: CI from generator
  .github/workflows/ci.yml
Due: none

chore: remove e2e target for now
  .github/workflows/ci.yml
Due: none

chore: add cacheable operations
  .yarn/install-state.gz
  nx.json
  package.json
  yarn.lock
Due: none

chore: clean old nx configs
  .eslintignore
  .github/workflows/nx-agents.yml
  .github/workflows/nx-targets.yml
  .prettierrc
  apps/tacomagooners/components/FixtureCard/FixtureCard.tsx
  apps/tacomagooners/components/GameCard/Team.tsx
  jest.config.ts
  jest.preset.js
  nx.json
  package.json
Due: prettier --write, eslint --fix

chore: update deps
  .yarn/cache/@bjeco-prettier-config-npm-0.1.6-84810b1fc1-569ad7df1c.zip
  .yarn/cache/prettier-npm-2.0.5-f0ee4e15ce-7f89d2f5d1.zip
  .yarn/install-state.gz
  yarn.lock
Due: none

chore: disable paralell commands
  .github/workflows/ci.yml
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss,sass,less}
  prettier --write: ((any of: *.{css,scss,sass,less}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{md,mdx,html})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
