Repository arsenalamerica/source: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --list-different, eslint --fix

chore: update dependabot lib config
  .github/dependabot.yml
Due: none

fix: dependabot single group
  .github/dependabot.yml
Due: none

chore: update dependabot to weekly, no assignees
  .github/dependabot.yml
Due: none

feat: add bad actor path substrings to check for
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

log baddies
  .github/CODEOWNERS
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: set up automatic firewall setting
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

fix: Show IP and check vars
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

chore: move @nx/devkit to devDeps
  package.json
  yarn.lock
Due: none

feat: encapsulate vercel baddie blocking function
  .github/dependabot.yml
  .github/settings.yml
  README.md
  apps/api/next-env.d.ts
  apps/branches/middleware.ts
  apps/branches/next-env.d.ts
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

fix: use middleware event to keep sync
  apps/branches/app/[domain]/opengraph-image.tsx
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

fix: Make baddie blocker return NextResponse
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

fix: make sure we are returning from middleware
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

fix: make sure projectId correct, simplify API
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

fix: one more try to fix
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

feat: include time stamp in notes for API
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

chore: Update CI to not use nx-cloud
  .github/workflows/ci.yml
  nx.json
Due: none

fix lockfile
  nx.json
  package.json
  yarn.lock
Due: none

ts back one
  package.json
  yarn.lock
Due: none

uniform TS version
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

manually upate lockfile
  yarn.lock
Due: none

disable build jobs for now
  .github/workflows/ci.yml
Due: none

set cpus to 4, the same on all build targets
  .github/workflows/ci.yml
  nx.json
Due: none

fix: fetch caching
  apps/branches/endpoints/_api.ts
  apps/branches/endpoints/fixtures.ts
  apps/branches/endpoints/standings.ts
Due: prettier --list-different, eslint --fix

nx: defaultBase
  nx.json
Due: none

set shas for nx
  .github/workflows/ci.yml
Due: none

fix default
  nx.json
Due: none

add use client directive back to game cards
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
Due: prettier --list-different, eslint --fix

fix: GameCard styles
  libs/components/src/lib/GameCard/GameCard.module.scss
  libs/components/src/lib/GameCard/GameCard.tsx
  libs/components/src/lib/GameCard/GameCardTime.tsx
  libs/utils/src/lib/dates.ts
Due: stylelint --fix, prettier --list-different, eslint --fix

fix: missing twitter logo from icon plugin
  data/src/branches/tacomagooners/data.json
  data/src/branches/vancouverarsenal/data.json
  libs/components/src/lib/SocialLogo/LeagueLogo.spec.tsx
  libs/components/src/lib/SocialLogo/SocialLogo.tsx
  libs/components/src/lib/SocialLogo/socials.tsx
Due: prettier --list-different, eslint --fix

lint
  libs/components/src/lib/GameCard/GameCardTime.tsx
Due: prettier --list-different, eslint --fix

feat: Set up Fathom tracking to be multi-domain
  apps/branches/app/[domain]/layout.tsx
Due: prettier --list-different, eslint --fix

feat: social link events
  data/src/branches/cascadiagooners/data.json
  libs/components/src/lib/SocialLinks/SocialLinks.tsx
Due: prettier --list-different, eslint --fix

fix: social event without site_id
  libs/components/src/lib/SocialLinks/SocialLinks.tsx
Due: prettier --list-different, eslint --fix

dependabot: ignore ts
  .github/dependabot.yml
Due: none

rollback ts
  package.json
  yarn.lock
Due: none

chore: add coverage thresholds
  .vscode/extensions.json
  .vscode/settings.json
  jest.preset.js
  libs/components/jest.config.ts
  nx.json
  package.json
Due: prettier --list-different, eslint --fix

test: CI with setup
  .github/workflows/ci.yml
Due: none

test change path for cache
  .github/workflows/ci.yml
Due: none

test: need to set up node after restore so we can get correct node version
  .github/workflows/ci.yml
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss,sass,less}
  prettier --list-different: ((any of: *.{css,scss,sass,less}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{md,mdx,html})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
