Repository arsenalamerica/source: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --list-different, eslint --fix

Set up suspense and error/loading components
  apps/branches/app/[domain]/global.scss
  libs/components/src/index.ts
  libs/components/src/lib/BranchContext/BranchContext.spec.tsx
  libs/components/src/lib/Main/SWRProvider.tsx
  libs/components/src/lib/NextGame/NextGame.spec.tsx
  libs/components/src/lib/NextGame/NextGameComponent.tsx
  libs/components/src/lib/NextGame/NextGameError.tsx
  libs/components/src/lib/NextGame/NextGameLoading.tsx
  package.json
  yarn.lock
Due: stylelint --fix, prettier --list-different, eslint --fix

fix: make game-card use fixtures/next endpoint
  apps/branches/project.json
  libs/components/src/lib/GameCard/GameCard.tsx
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: add dependabot config
  .github/dependabot.yml
Due: none

Update dependabot.yml to daily
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update season cutoff
  apps/api/app/fixtures/next/route.ts
  apps/api/next.config.js
  libs/utils/src/lib/season.ts
Due: prettier --list-different, eslint --fix

feat(api): add standings endpoint for league table
  apps/api/app/standings/route.ts
  apps/branches/app/[domain]/cool/page.tsx
  apps/branches/app/[domain]/table/page.tsx
Due: prettier --list-different, eslint --fix

feat: update page layout
  apps/branches/app/[domain]/table/page.tsx
Due: prettier --list-different, eslint --fix

feat: League Table
  apps/api/app/standings/route.ts
  apps/branches/app/[domain]/game-card/page.tsx
  apps/branches/app/[domain]/global.scss
  apps/branches/app/[domain]/home.module.scss
  apps/branches/app/[domain]/layout.tsx
  apps/branches/app/[domain]/table/page.tsx
  libs/components/src/index.ts
  libs/components/src/lib/LeagueTable/LeagueTable.module.scss
  libs/components/src/lib/LeagueTable/LeagueTable.spec.tsx
  libs/components/src/lib/LeagueTable/LeagueTable.tsx
  libs/components/src/lib/LeagueTable/LeagueTableComponent.tsx
  libs/components/src/lib/LeagueTable/LeagueTableError.tsx
  libs/components/src/lib/LeagueTable/LeagueTableLoading.tsx
  libs/components/src/lib/Main/Main.module.scss
  libs/components/src/lib/Main/SWRProvider.tsx
  libs/components/src/lib/NavBar/NavBar.module.scss
  libs/components/src/lib/NavBar/NavBar.spec.tsx
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/NextGame/NextGame.tsx
  libs/types/src/index.ts
  libs/types/src/lib/StandingData.ts
  libs/utils/src/index.ts
  libs/utils/src/lib/isDevelopment.ts
Due: stylelint --fix, prettier --list-different, eslint --fix

remove icons lib
  libs/nx-next-icons/.eslintrc.json
  libs/nx-next-icons/.swcrc
  libs/nx-next-icons/README.md
  libs/nx-next-icons/executors.json
  libs/nx-next-icons/jest.config.ts
  libs/nx-next-icons/package.json
  libs/nx-next-icons/project.json
  libs/nx-next-icons/src/executors/favicons/executor.spec.ts
  libs/nx-next-icons/src/executors/favicons/executor.ts
  libs/nx-next-icons/src/executors/favicons/schema.d.ts
  libs/nx-next-icons/src/executors/favicons/schema.json
  libs/nx-next-icons/src/executors/svg2png/executor.spec.disabled
  libs/nx-next-icons/src/executors/svg2png/executor.ts
  libs/nx-next-icons/src/executors/svg2png/schema.d.ts
  libs/nx-next-icons/src/executors/svg2png/schema.json
  libs/nx-next-icons/src/index.ts
  libs/nx-next-icons/src/test-files/favicon.ico
  libs/nx-next-icons/src/test-files/logo.svg
  libs/nx-next-icons/tsconfig.json
  libs/nx-next-icons/tsconfig.lib.json
  libs/nx-next-icons/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --list-different, eslint --fix

remove unused css module
  apps/branches/app/[domain]/home.module.scss
Due: stylelint --fix, prettier --list-different

remove hydration warning suppression
  apps/branches/app/layout.tsx
Due: prettier --list-different, eslint --fix

remove old logo component
  libs/components/src/index.ts
  libs/components/src/lib/Logo/Logo.module.scss
  libs/components/src/lib/Logo/Logo.tsx
  libs/components/src/lib/Logo/index.ts
Due: stylelint --fix, prettier --list-different, eslint --fix

feat: add generated favicon and OG images
  apps/branches/app/[domain]/icon.tsx
  apps/branches/app/[domain]/opengraph-image.tsx
  apps/branches/public/favicon.ico
  apps/branches/public/robots.txt
  data/.prettierrc
  data/project.json
  data/src/branches/boisegooners/Logo.tsx
  data/src/branches/boisegooners/index.ts
  data/src/branches/cascadiagooners/Logo.tsx
  data/src/branches/cascadiagooners/index.ts
  data/src/branches/pdxgooners/Logo.tsx
  data/src/branches/pdxgooners/index.ts
  data/src/branches/tacomagooners/Logo.tsx
  data/src/branches/tacomagooners/index.ts
  data/src/branches/vancouverarsenal/Logo.tsx
  data/src/branches/vancouverarsenal/index.ts
  data/svgr.config.js
  data/tsconfig.json
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

fix lockfile
  yarn.lock
Due: none

chore: share settings
  .github/settings.yml
Due: none

feat: Trial using Vercel Analytics
  .github/CODEOWNERS
  apps/branches/app/layout.tsx
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

feat: Prepare for theming
  apps/api/project.json
  apps/branches/app/[domain]/global.scss
  libs/components/src/index.ts
  libs/components/src/lib/Main/Main.module.scss
  libs/components/src/lib/NavBar/NavBar.module.scss
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/NavBar/NavBarItem.tsx
  libs/components/src/lib/NavLink/NavLink.tsx
  libs/components/src/lib/NavLink/index.ts
  libs/components/src/lib/Toolbar/Toolbar.module.scss
  libs/components/src/lib/Toolbar/Toolbar.tsx
  libs/components/src/lib/Toolbar/ToolbarContainer.tsx
  libs/components/src/lib/Toolbar/ToolbarItem.tsx
  libs/components/src/lib/Toolbar/index.ts
  package.json
  yarn.lock
Due: stylelint --fix, prettier --list-different, eslint --fix

update cloud cache
  apps/api/app/fixtures/route.ts
  apps/api/app/fixtures/routeOld.ts
  data/src/branches/boisegooners/Logo.tsx
  nx.json
Due: prettier --list-different, eslint --fix

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: none

switch back to nx-cloud for GH Actions CI
  nx.json
Due: none

chore: elevate lint so we do not allow warnings
  apps/api/project.json
  apps/branches-e2e/project.json
  apps/branches/project.json
  data/project.json
  libs/components/project.json
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/Toolbar/ToolbarItem.tsx
  libs/hooks/project.json
  libs/types/project.json
  libs/utils/project.json
Due: prettier --list-different, eslint --fix

chore: change default cache directory to try on vercel
  nx.json
Due: none

chore: update nx-cloud
  apps/api/app/token.spec.ts
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: only run lint/test in ci
  .github/workflows/ci.yml
Due: none

chore: update shared workflows
  .github/workflows/ci.yml
  .nx/workflows/dynamic-changesets.yml
Due: none

chore: update nx
  .eslintrc.json
  .gitignore
  .prettierignore
  .yarnrc.yml
  apps/api/project.json
  apps/api/tsconfig.json
  apps/branches-e2e/project.json
  apps/branches/project.json
  apps/branches/tsconfig.json
  data/project.json
  libs/components/project.json
  libs/hooks/project.json
  libs/types/project.json
  libs/utils/project.json
  nx.json
  package.json
  yarn.lock
Due: none

chore: update yarn
  .github/workflows/ci.yml
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-3.8.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: update CI for agents
  .github/workflows/ci.yml
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

chore: update all patch-level dependencies
  package.json
  yarn.lock
Due: none

chore: minor version bumps, remove some unused
  package.json
  yarn.lock
Due: none

chore: update major bumps
  .husky/pre-commit
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: update all lint-related packages
  package.json
  yarn.lock
Due: none

re-enable issues
  .github/settings.yml
Due: none

chore: update nx and all minor/patch deps
  .yarnrc.yml
  apps/api/next.config.js
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

feat: 2024 game card
  libs/components/src/lib/GameCard/GameCard.module.scss
  libs/components/src/lib/GameCard/GameCard.tsx
  libs/components/src/lib/GameCard/TeamLogo.tsx
  libs/components/src/lib/GameCard/bg.svg
  libs/components/src/lib/GameCard/bg_2023.svg
  libs/components/src/lib/GameCard/bg_2024.svg
Due: stylelint --fix, prettier --list-different, eslint --fix

fix: temporarily hide fixtures in nav
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss,sass,less}
  prettier --list-different: ((any of: *.{css,scss,sass,less}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{md,mdx,html})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
