Repository arsenalamerica/source: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --list-different, eslint --fix

.lintstagedrc.json:

{
  "*.{css,scss,sass,less}": ["stylelint --fix", "prettier --list-different"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --list-different"],
  "*.{md,mdx,html}": ["prettier --list-different"]
}

fix: Make the league table work better on mobile
  apps/branches/app/[domain]/global.scss
  libs/components/src/lib/LeagueTable/LeagueTable.module.scss
  libs/components/src/lib/LeagueTable/LeagueTableComponent.tsx
Due: stylelint --fix, prettier --list-different, eslint --fix

fix: table render async, make time client
  apps/api/app/standings/route.ts
  apps/branches/app/[domain]/game-card/loading.tsx
  apps/branches/app/[domain]/table/loading.tsx
  libs/components/src/lib/GameCard/GameCard.tsx
  libs/components/src/lib/GameCard/GameCardTime.tsx
  libs/components/src/lib/LeagueTable/LeagueTable.tsx
  tsconfig.base.json
Due: prettier --list-different, eslint --fix

fix: fix home and away teams from API data
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/components/src/lib/GameCard/GameCard.tsx
Due: prettier --list-different, eslint --fix

feat: single-color logos complete
  libs/components/src/index.ts
  libs/components/src/lib/GameCard/GameCard.tsx
  libs/components/src/lib/GameCard/TeamLogo.tsx
  libs/components/src/lib/LeagueTable/LeagueTable.module.scss
  libs/components/src/lib/LeagueTable/LeagueTable.tsx
  libs/components/src/lib/TeamLogo/TeamLogo.spec.tsx
  libs/components/src/lib/TeamLogo/TeamLogo.tsx
  libs/components/src/lib/TeamLogo/index.ts
Due: stylelint --fix, prettier --list-different, eslint --fix

feat: team logos will fallback to a color logo
  libs/components/src/lib/GameCard/GameCard.module.scss
  libs/components/src/lib/GameCard/GameCard.tsx
  libs/components/src/lib/LeagueTable/LeagueTable.module.scss
  libs/components/src/lib/TeamLogo/TeamLogo.tsx
Due: stylelint --fix, prettier --list-different, eslint --fix

fix: forgot to press save adding fallback
  libs/components/src/lib/LeagueTable/LeagueTable.tsx
Due: prettier --list-different, eslint --fix

chore: swap images on fixtures
  libs/components/src/lib/FixtureCard/FixtureCard.module.scss
  libs/components/src/lib/FixtureCard/FixtureCardTeam.tsx
  libs/components/src/lib/TeamLogo/TeamLogo.tsx
  libs/components/src/lib/TeamLogo/teams.tsx
Due: stylelint --fix, prettier --list-different, eslint --fix

fix: improve types for component with spread
  libs/components/src/lib/TeamLogo/TeamLogo.tsx
Due: prettier --list-different, eslint --fix

chore: added logging
  apps/api/app/fixtures/next/route.ts
  apps/api/app/fixtures/route.ts
  apps/api/app/logger.ts
  apps/api/app/standings/route.ts
  apps/api/app/tv-station/[station_id]/route.ts
  apps/branches/app/[domain]/fixtures/page.tsx
  libs/components/src/lib/GameCard/GameCard.tsx
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: nx latest
  package.json
  yarn.lock
Due: none

fix: no console except for warnings
  libs/components/src/lib/NextGame/NextGameComponent.tsx
  libs/components/src/lib/TeamLogo/TeamLogo.tsx
Due: prettier --list-different, eslint --fix

chore: patch updates
  package.json
  yarn.lock
Due: none

chore: minor updates
  .husky/pre-commit
  .nvmrc
  apps/branches/next.config.js
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: none

chore: update blocks and elevate yarn warning
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: remove fontawesome icons
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/NavBar/NavBarItem.tsx
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

feat: fixtures
  apps/api/app/fixtures/route.ts
  apps/branches/app/[domain]/fixtures/page.tsx
  apps/branches/app/[domain]/layout.tsx
  apps/branches/app/[domain]/page.tsx
  apps/branches/app/[domain]/table/layout.tsx
  apps/branches/app/[domain]/table/page.tsx
  libs/components/src/index.ts
  libs/components/src/lib/Card/Card.module.scss
  libs/components/src/lib/Card/Card.tsx
  libs/components/src/lib/Card/index.ts
  libs/components/src/lib/FixtureCard/FixtureCard.module.scss
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/components/src/lib/FixtureCard/FixtureCardTeam.tsx
  libs/components/src/lib/LeagueTable/LeagueTable.module.scss
  libs/components/src/lib/LeagueTable/LeagueTable.tsx
  libs/components/src/lib/Main/Main.tsx
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/NextGame/NextGame.module.scss
  libs/components/src/lib/NextGame/NextGameComponent.tsx
  libs/sportmonks/src/lib/fixtures.ts
Due: stylelint --fix, prettier --list-different, eslint --fix

fix: temp remove icons from nav
  apps/branches/app/[domain]/global.scss
  libs/components/src/lib/NavBar/NavBar.module.scss
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/NavBar/icons.tsx
Due: stylelint --fix, prettier --list-different, eslint --fix

feat: add East LA Gooners
  data/src/branches/eastlagooners/Logo.tsx
  data/src/branches/eastlagooners/data.json
  data/src/branches/eastlagooners/index.ts
  data/src/branches/eastlagooners/logo.svg
Due: prettier --list-different, eslint --fix

fix: make sure we export the new branch
  data/src/branches/eastlagooners/data.json
  data/src/branches/index.ts
Due: prettier --list-different, eslint --fix

fix: update East Los Angeles Gooners branch name
  data/src/branches/eastlagooners/data.json
Due: none

feat: temporary hack for East LA Gooners
  data/src/branches/types.ts
  libs/components/src/lib/NextGame/NextGameComponent.tsx
Due: prettier --list-different, eslint --fix

fix: fixtures should render date on client
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
Due: prettier --list-different, eslint --fix

feat: /fixtures/next endpoint additional data
  apps/api/app/fixtures/next/route.ts
  apps/api/app/fixtures/route.ts
Due: prettier --list-different, eslint --fix

feat: next game on homepage
  apps/api/app/fixtures/next/route.ts
  apps/branches/app/[domain]/game-card/page.tsx
  apps/branches/app/[domain]/global.scss
  apps/branches/app/[domain]/layout.tsx
  apps/branches/app/[domain]/page.tsx
  apps/branches/endpoints/fixtures.ts
  libs/components/src/index.ts
  libs/components/src/lib/Card/Card.tsx
  libs/components/src/lib/FixtureCard/FixtureCard.module.scss
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/components/src/lib/Main/Main.module.scss
  libs/components/src/lib/NextGame/NextGame.spec.tsx
  libs/components/src/lib/NextGame/NextGame.tsx
  libs/components/src/lib/NextGame/NextGameComponent.tsx
  libs/components/src/lib/SocialLinks/SocialLinks.module.scss
Due: stylelint --fix, prettier --list-different, eslint --fix

feat: improve live game details on home page
  apps/api/app/fixtures/next/route.ts
  apps/api/app/fixtures/route.ts
  apps/api/app/standings/route.ts
  apps/api/next.config.js
  apps/branches/app/[domain]/page.tsx
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/utils/src/lib/shite.ts
Due: prettier --list-different, eslint --fix

feat: single color logos for all new teams/leagues
  libs/components/src/index.ts
  libs/components/src/lib/FixtureCard/FixtureCard.module.scss
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/components/src/lib/LeagueLogo/LeagueLogo.spec.tsx
  libs/components/src/lib/LeagueLogo/LeagueLogo.tsx
  libs/components/src/lib/LeagueLogo/index.ts
  libs/components/src/lib/LeagueLogo/leagues.tsx
  libs/components/src/lib/TeamLogo/teams.tsx
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: clean up components, resolve hydration errs
  apps/api/app/fixtures/route.ts
  apps/branches/app/[domain]/fixtures/loading.tsx
  apps/branches/app/[domain]/table/loading.tsx
  libs/components/src/index.ts
  libs/components/src/lib/Card/index.ts
  libs/components/src/lib/ClientOnly/ClientOnly.spec.tsx
  libs/components/src/lib/ClientOnly/ClientOnly.tsx
  libs/components/src/lib/ExternalLink/index.ts
  libs/components/src/lib/FathomNext/index.ts
  libs/components/src/lib/FixtureCard/FixtureCard.module.scss
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/components/src/lib/FixtureCard/FixtureCardTeam.tsx
  libs/components/src/lib/FixtureCard/index.ts
  libs/components/src/lib/GameCard/GameCard.tsx
  libs/components/src/lib/GameCard/index.ts
  libs/components/src/lib/LeagueLogo/index.ts
  libs/components/src/lib/LeagueTable/LeagueTable.tsx
  libs/components/src/lib/LeagueTable/LeagueTableComponent.tsx
  libs/components/src/lib/LeagueTable/LeagueTableLoading.tsx
  libs/components/src/lib/Main/Main.tsx
  libs/components/src/lib/Main/SWRProvider.tsx
  libs/components/src/lib/Main/index.ts
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/NavBar/NavLink.tsx
  libs/components/src/lib/NavLink/index.ts
  libs/components/src/lib/NextGame/NextGame.tsx
  libs/components/src/lib/NextGame/NextGameLoading.tsx
  libs/components/src/lib/SocialLinks/SocialLinks.tsx
  libs/components/src/lib/SocialLinks/index.ts
  libs/components/src/lib/TeamLogo/TeamLogo.tsx
  libs/components/src/lib/TeamLogo/index.ts
  package.json
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: add last of the missing logos for CL matches
  libs/components/src/lib/LeagueLogo/leagues.tsx
  libs/components/src/lib/TeamLogo/teams.tsx
  yarn.lock
Due: prettier --list-different, eslint --fix

feat: persistent page footer
  apps/branches/app/[domain]/global.scss
  apps/branches/app/[domain]/layout.tsx
  apps/branches/app/[domain]/page.tsx
  data/src/branches/tacomagooners/data.json
  data/src/branches/types.ts
  libs/components/src/lib/Card/Card.module.scss
  libs/components/src/lib/Main/Main.module.scss
  libs/components/src/lib/NavBar/NavBar.module.scss
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/SocialLinks/SocialLinks.module.scss
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: improve DX working with SASS
  .vscode/settings.json
  apps/api/project.json
  apps/branches/next.config.js
  apps/branches/project.json
  libs/components/project.json
Due: prettier --list-different, eslint --fix

chore: start initial work on sass library
  apps/branches/app/[domain]/global.scss
  bork/README.md
  bork/_index.scss
  bork/bork.png
  bork/components/_index.scss
  bork/components/button.scss
  bork/utilities/_index.scss
  bork/utilities/extends.scss
  bork/utilities/functions.scss
  bork/utilities/mixins.scss
  bork/utilities/variables.scss
  libs/components/src/lib/FixtureCard/FixtureCard.module.scss
  libs/components/src/lib/LeagueTable/LeagueTable.module.scss
  libs/components/src/lib/Main/Main.module.scss
  libs/components/src/lib/NavBar/NavBar.module.scss
  libs/components/src/lib/NavBar/NavBar.tsx
  libs/components/src/lib/NavBar/NavBarItem.tsx
  libs/components/src/lib/NavBar/NavLink.tsx
  libs/components/src/lib/NavBar/icons.tsx
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: update stylelint config
  .stylelint/README.md
  package.json
  stylelint.config.js
  stylelint.config.mjs
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: remove last remaining unused components
  libs/components/src/index.ts
  libs/components/src/lib/BranchContext/BranchContext.spec.tsx
  libs/components/src/lib/BranchContext/BranchContext.tsx
  libs/components/src/lib/Toolbar/Toolbar.module.scss
  libs/components/src/lib/Toolbar/Toolbar.tsx
  libs/components/src/lib/Toolbar/ToolbarContainer.tsx
  libs/components/src/lib/Toolbar/ToolbarItem.tsx
  libs/components/src/lib/Toolbar/index.ts
Due: stylelint --fix, prettier --list-different, eslint --fix

feat: pwa
  apps/branches/app/[domain]/icon.tsx
  apps/branches/app/manifest.ts
  apps/branches/icon-sizes.ts
  apps/branches/middleware.ts
Due: prettier --list-different, eslint --fix

fix: navbar safe area on standalone
  apps/branches/app/[domain]/global.scss
  libs/components/src/lib/NavBar/NavBar.module.scss
Due: stylelint --fix, prettier --list-different

fix: set viewport cover
  apps/branches/app/layout.tsx
Due: prettier --list-different, eslint --fix

feat: remaining updates for PWA
  apps/branches/app/[domain]/global.scss
  apps/branches/app/[domain]/icon.tsx
  apps/branches/app/[domain]/layout.tsx
  bork/components/button.scss
  libs/components/src/index.ts
  libs/components/src/lib/LeagueTable/LeagueTable.module.scss
  libs/components/src/lib/LeagueTable/LeagueTable.tsx
  libs/components/src/lib/Main/Main.module.scss
  libs/components/src/lib/Main/Main.tsx
  libs/components/src/lib/NavBar/NavBar.module.scss
  libs/components/src/lib/NextGame/NextGame.tsx
  libs/components/src/lib/PWAInstallPrompt/PWAInstallPrompt.tsx
  libs/components/src/lib/SocialLinks/SocialLinks.module.scss
  package.json
  yarn.lock
Due: stylelint --fix, prettier --list-different, eslint --fix

simplify precommit hook for dependabot
  .husky/pre-commit
Due: none
