Repository arsenalamerica/source: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --list-different, eslint --fix

test: bring back build, then add cache cleanup
  .github/workflows/ci.yml
Due: none

make sure build has run too
  .github/workflows/ci.yml
Due: none

test: move the cache clear to last step
  .github/workflows/ci.yml
Due: none

test: composite save/restore/cleanup
  .github/job-root-cache/cleanup/action.yml
  .github/job-root-cache/restore/action.yml
  .github/job-root-cache/save/action.yml
  .github/workflows/ci.yml
Due: none

test: move composite actions out
  .github/workflows/ci.yml
Due: none

test: cleanup without inherit
  .github/workflows/ci.yml
Due: none

test: remove previous separate actions
  .github/job-root-cache/cleanup/action.yml
  .github/job-root-cache/restore/action.yml
  .github/job-root-cache/save/action.yml
  .github/workflows/ci.yml
Due: none

remove client only to render game card in browser for resize text
  libs/components/src/lib/GameCard/GameCard.tsx
Due: prettier --list-different, eslint --fix

make sure to set shas for NX
  .github/workflows/ci.yml
Due: none

fix: game-card-styles
  libs/components/src/lib/GameCard/GameCard.module.scss
Due: stylelint --fix, prettier --list-different

test: use affected and shas as setup output
  .github/workflows/ci.yml
Due: none

test: check specific apps only
  .github/workflows/ci.yml
Due: none

test: change exclude syntax
  .github/workflows/ci.yml
Due: none

test: remove exclude
  .github/workflows/ci.yml
Due: none

test: build matrix
  .github/workflows/ci.yml
Due: none

test: make sure the root cache clean job always runs
  .github/workflows/ci.yml
Due: none

test: dependency change
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: manually set matrix
  .github/workflows/ci.yml
Due: none

test: fix target flag for build job
  .github/workflows/ci.yml
Due: none

test: switch to setup output
  .github/workflows/ci.yml
Due: none

test: change NavBar
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: add nextjs build cache
  .github/workflows/ci.yml
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: point to dist directory for output
  .github/workflows/ci.yml
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: verify nextjs build cache hit
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: more generic nextjs build cache
  .github/workflows/ci.yml
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: use updated build cache step
  .github/workflows/ci.yml
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: check if we can read the project/org IDs
  .github/workflows/ci.yml
  apps/api/project.json
  apps/branches/project.json
Due: none

try action to read json
  .github/workflows/ci.yml
Due: none

test: prepare correct attributes
  .github/workflows/ci.yml
Due: none

test: no cwd
  .github/workflows/ci.yml
  apps/branches/project.json
  package.json
  yarn.lock
Due: none

test: separate commands
  .github/workflows/ci.yml
  apps/branches/project.json
Due: none

test: expose secret to env
  .github/workflows/ci.yml
  apps/branches/project.json
Due: none

test: give deploy action to API
  apps/api/project.json
Due: none

pull project settings
  apps/api/project.json
  apps/branches/project.json
Due: none

check token
  apps/branches/project.json
Due: none

test: use nx args
  .github/workflows/ci.yml
  apps/branches/project.json
Due: none

test: get env url
  .github/workflows/ci.yml
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: write to text file on deploy
  .github/workflows/ci.yml
  apps/branches/project.json
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

test: prod vs preview
  .github/workflows/ci.yml
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

adjust args
  apps/branches/project.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss,sass,less}
  prettier --list-different: ((any of: *.{css,scss,sass,less}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{md,mdx,html})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
