Repository arsenalamerica/source: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --list-different, eslint --fix

no separate args
  apps/branches/project.json
Due: none

Set up preview URL comment after deploy success
  .github/workflows/ci.yml
Due: none

test: Update NavBar to test preview deploy comments
  .github/workflows/ci.yml
  libs/components/src/lib/NavBar/NavBar.tsx
Due: prettier --list-different, eslint --fix

add build status job to check matrix builds
  .github/workflows/ci.yml
Due: none

feat: update caching for next game
  apps/api/app/fixtures/next/route.ts
  apps/api/app/fixtures/route.ts
  apps/api/app/standings/route.ts
  apps/branches/app/[domain]/fixtures/page.tsx
  apps/branches/app/[domain]/global.scss
  apps/branches/endpoints/_api.ts
  libs/components/src/lib/Card/Card.module.scss
  libs/components/src/lib/FixtureCard/FixtureCard.module.scss
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/components/src/lib/FixtureCard/FixtureCardMetadataItem.tsx
  libs/components/src/lib/NavBar/NavBar.module.scss
  libs/sportmonks/src/lib/sportmonks.ts
Due: stylelint --fix, prettier --list-different, eslint --fix

fix deploy step for api
  apps/api/project.json
Due: none

chore: remove breaking branch data export
  apps/branches/middleware.ts
  data/src/branches/index.ts
  data/src/index.ts
Due: prettier --list-different, eslint --fix

Update dependabot.yml
  .github/dependabot.yml
Due: none

Fix dependabot.yml indenting
  .github/dependabot.yml
Due: none

Ignore any deps updated by NX plugins
  .github/dependabot.yml
Due: none

fix glob for groups
  .github/dependabot.yml
Due: none

test: add action for dependabot pr review
  .github/workflows/ci.yml
Due: none

use default workflow permissions
  .github/workflows/ci.yml
Due: none

add root permissions
  .github/workflows/ci.yml
Due: none

last permissions update
  .github/workflows/ci.yml
Due: none

make permissions root only
  .github/workflows/ci.yml
Due: none

lower PR limit
  .github/dependabot.yml
Due: none

feat: preston logo
  apps/api/project.json
  apps/branches/middleware.ts
  apps/branches/project.json
  bork/components/button.scss
  libs/components/src/lib/TeamLogo/TeamLogo.tsx
  libs/components/src/lib/TeamLogo/teams.tsx
  libs/sportmonks/package.json
Due: stylelint --fix, prettier --list-different, eslint --fix

make sure github secret present for action
  .github/workflows/ci.yml
Due: none

feat: scroll next game into view for fixtures
  apps/branches/app/[domain]/fixtures/page.tsx
  libs/components/src/lib/Card/Card.tsx
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
Due: prettier --list-different, eslint --fix

Update social link data.json
  data/src/branches/tacomagooners/data.json
Due: none

chore: nx latest
  .yarnrc.yml
  jest.config.ts
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: patch and minor dep updates
  .yarn/releases/yarn-3.8.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  libs/components/src/lib/SocialLinks/SocialLinks.tsx
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: remove nx legacy cache
  migrations.json
  nx.json
Due: none

fix: stylelint config
  apps/branches/app/[domain]/global.scss
  stylelint.config.mjs
Due: stylelint --fix, prettier --list-different

chore: exclude root source in changes for build
  .github/workflows/ci.yml
Due: none

chore: update nextjs 15, react 19
  apps/api/app/tv-station/[station_id]/route.ts
  apps/api/next-env.d.ts
  apps/branches/app/[domain]/game-card/page.tsx
  apps/branches/app/[domain]/layout.tsx
  apps/branches/app/[domain]/page.tsx
  apps/branches/app/manifest.ts
  apps/branches/middleware.ts
  apps/branches/next-env.d.ts
  libs/components/src/lib/ClientOnly/ClientOnly.tsx
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

chore: fix all peerDependency warnings
  .yarnrc.yml
Due: none

chore: update eslint
  .eslintignore
  .eslintrc.json
  .yarnrc.yml
  apps/api/.eslintrc.json
  apps/api/eslint.config.cjs
  apps/api/next.config.js
  apps/branches-e2e/.eslintrc.json
  apps/branches-e2e/eslint.config.cjs
  apps/branches/.eslintrc.json
  apps/branches/eslint.config.cjs
  apps/branches/next.config.js
  data/.eslintrc.json
  data/eslint.config.cjs
  eslint.config.cjs
  libs/components/.eslintrc.json
  libs/components/eslint.config.cjs
  libs/components/jest.config.ts
  libs/components/src/lib/ExternalLink/ExternalLink.tsx
  libs/components/src/lib/FixtureCard/FixtureCard.module.scss
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/components/src/lib/LeagueTable/LeagueTable.module.scss
  libs/hooks/.eslintrc.json
  libs/hooks/eslint.config.cjs
  libs/sportmonks/.eslintrc.json
  libs/sportmonks/eslint.config.cjs
  libs/types/.eslintrc.json
  libs/types/eslint.config.cjs
  libs/utils/.eslintrc.json
  libs/utils/eslint.config.cjs
  libs/utils/jest.config.ts
  nx.json
  package.json
  yarn.lock
Due: stylelint --fix, prettier --list-different, eslint --fix

chore: update prettier config
  .prettierignore
  .prettierrc
  package.json
  yarn.lock
Due: none

remove old vscode settings
  .gitmodules
  .vscode/extensions.json
  .vscode/settings.json
Due: none

update yarn
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: none

pub update for eastla
  data/src/branches/eastlagooners/data.json
Due: none

chore: dependabot skip major
  .github/dependabot.yml
Due: none

update dependabot for submodules
  .github/dependabot.yml
Due: none

feat: add new logos
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.8.1.cjs
  .yarnrc.yml
  apps/api/app/fixtures/route.ts
  libs/components/src/lib/LeagueLogo/leagues.tsx
  libs/components/src/lib/TeamLogo/teams.tsx
  package.json
  yarn.lock
Due: prettier --list-different, eslint --fix

fix: change fixture count back to the max
  apps/api/app/fixtures/route.ts
Due: prettier --list-different, eslint --fix

feat: fixtures return all games
  apps/api/app/fixtures/route.ts
  apps/branches/app/[domain]/page.tsx
  libs/components/src/lib/FixtureCard/FixtureCard.tsx
  libs/utils/src/lib/shite.ts
Due: prettier --list-different, eslint --fix

fix: Season cut-over happens sooner
  libs/utils/src/lib/season.ts
Due: prettier --list-different, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss,sass,less}
  prettier --list-different: ((any of: *.{css,scss,sass,less}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{md,mdx,html})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
